*.txt
*.mp3
*.mp4
*.wav
*.jpeg

# Ignore directories
__pycache__/
Backup/
venv/
tests/
.idea/

# Ignore specific files
test.py
upload_video.py
YoutubeAPIWork.py
novel_list.json
auto_audiobook.bat

# Don't ignore requirements.txt
!requirements.txt